<!DOCTYPE html>
<html>
  <title>
    ブックマーク推薦(仮)
  </title>
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
  <link rel="stylesheet" href="/css/stylesheet.css" type="text/css" />
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" type="text/css" />
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
